<%= form_with(model: crime_thief, local: false) do |form| %>
<% Thief.all.each do |thief|%>
<li style="list-style: none">
<%= form.label :thief_id, thief.name %>
<%= form.radio_button :thief_id,thief.id %>
</li><% end %>
<%= hidden_field_tag 'crime_id', @crime.id  %>
<%= %>
  <% if crime_thief.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(crime_thief.errors.count, "error") %> prohibited this crime_thief from being saved:</h2>
      <ul>
        <% crime_thief.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
